BOT_TOKEN=123456:ABC...
ROOT_ADMIN_TG_IDS=[123456789]

REDIS_PASS=superStrongPass
REDIS_BROKER_URI=redis://:superStrongPass@redis:6379/11
REDIS_BROKER_RESULT_BACKEND_URI=redis://:superStrongPass@redis:6379/12